body {
  background-color: #282c34;
  color: white;
  font-family: Arial;
  text-align: center;
}
h1 {
  text-align: center;
}
.main {
  display: flex;
  flex-direction: column;
  margin: 0;
}
#Personal {
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: center;
}
#Personal {
  margin-bottom: 40px;
}
#personal-preview {
  height: 100%;
  padding: 2rem;
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  text-align: center;
  min-width: 400px;
}
.personal-preview-info {
  display: flex;
  align-items: center;
  flex: 1;
  height: 46px;
}
#personal-form {
  height: 100%;
  padding: 2rem;
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  text-align: center;
  min-width: 400px;
}
#personal-form input {
  height: 40px;
  width: 90%;
  display: block;
  min-width: 420px;
  border: 0;
  margin: 5px;
}

h3 {
  margin: 10px;
}
